*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{   
    background-image: url(/assets/images/PortfolioBackground.png);
    color: whitesmoke;
}

#header {
    width: 100%;
    height: 110vh;
    background-image: url(/assets/images/MainPagePic.png);
    background-size: contain;
    background-position:right;
    background-repeat: no-repeat;
} 

.navbar{
    padding: 10px 5%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

nav ul li a{
    color: whitesmoke;
    text-decoration: none;
    font-size: 20px;
}


nav a ul a{
    content: '';
    width: 100%;
    height: 3px;
    background: orange;
    position: absolute;
    
}